Source: ros-kinetic-summit-x-common
Section: misc
Priority: extra
Maintainer: Román Navarro <rnavarro@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: https://github.com/RobotnikAutomation/summit_x_common
Standards-Version: 3.9.2

Package: ros-kinetic-summit-x-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-summit-x-description
Description: The summit_x_common package
